[Unit]
Description=REST API service
After=network.target
 
[Service]
Type=simple
WorkingDirectory=/opt/csye6225/webapp
User=csye6225
Group=csye6225
ExecStart=/usr/bin/node /opt/csye6225/webapp/index.js
EnvironmentFile=/opt/csye6225/webapp/.env
Restart=always
 
[Install]
WantedBy=cloud-init.target