name: Build AMI after PR is merged

 
on:
  push:
    branches:
      - main

jobs:

  build-ami:

    runs-on: ubuntu-latest

 

    steps:

      - name: Checkout code

        uses: actions/checkout@v2
      

    

      - name: Install Packer

        run: |

          PACKER_VERSION="1.9.4"  # specify your desired version

          wget https://releases.hashicorp.com/packer/${PACKER_VERSION}/packer_${PACKER_VERSION}_linux_amd64.zip

          unzip packer_${PACKER_VERSION}_linux_amd64.zip

          sudo mv packer /usr/local/bin/

          packer --version

      - name: Initialize Packer

        run: packer init ami.pkr.hcl

 

      - name: Build AMI

        env:

          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}

          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

        run: packer build ami.pkr.hcl